{% extends 'base.html'%}

{% block title %}
Create Todo Item
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Create a new item</h1>
        <form method="POST">
            {% csrf_token %}
            {{create_item_form.as_p}}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
