{% extends 'base.html'%}

{% block title %}
Delete List
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Are u sure?</h1>
        <form method="post">
            {% csrf_token %}
            <button>Delete</button>
        </form>
    </div>
</main>
{% endblock content %}
