{% extends 'base.html'%}

{% block title %}
Update List
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Update List</h1>
        <form method="POST">
            {% csrf_token %}
            {{update_item_form.as_p}}
            <button>Update</button>
        </form>
    </div>
</main>
{% endblock content %}
