{% extends 'base.html'%}

{% block title %}
Todo Lists
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>
            My Lists
        </h1>
        <p>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>

        </p>
        <p><a href="{% url 'todo_item_create' %}">Create a new item</a></p>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
            </tr>
            {% for item in lists %}
            <tr>
                <td><a href="{% url 'todo_list_detail' item.id %}">{{item.name}}</a></td>
                <td>{{item.items.all|length}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock content %}
